ul{     /* Pour mettre à l'horizontale et espacer (list...)*/
  margin:0 ;
  padding:0 ;
  list-style-type:none ; 
}

li{
  margin-left:2px;  
}

ul li a{
  display:block; /*pour pas qu'ils s'empiles */
  float:left;  /*pour qu'ils se mettent a droite */
  width:100px; /*taille*/
  background-color: yellow;
  color: black;
  text-decoration:none;
  text-align:center;
  padding:5px;
  border:2px solid;
  border-color:#DCDCDC #696969 #696969 #DCDCDC; /*effet */
}

ul li a: hover{   /* quand survol avec la souris*/
  background-color: black;
  border-color:#696969 #DCDCDC #DCDCDC #696969;
}
  
  
    
